# DAP2 
### Preprocessing and Exploratory Analysis
John Munar and Jack Witt

In this phase of the project, we examined, cleaned, and selected relevant features for both our datasets. Additionally, we performed an exploratory analysis and visualization to assess trends and patterns within our datasets.

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("rawdata/2018_Financial_Data.csv")
df2 = pd.read_csv("rawdata/aapl.us.txt")

In [7]:
display(df)

df.shape

,Unnamed: 0,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,2019 PRICE VAR [%],Class
0,CMCSA,9.450700e+10,0.1115,0.000000e+00,9.450700e+10,0.000000e+00,6.482200e+10,7.549800e+10,1.900900e+10,3.542000e+09,...,0.2570,0.0000,0.3426,0.0722,0.7309,0.0000,0.1308,Consumer Cyclical,32.794573,1
1,KMI,1.414400e+10,0.0320,7.288000e+09,6.856000e+09,0.000000e+00,6.010000e+08,3.062000e+09,3.794000e+09,1.917000e+09,...,0.0345,-0.0920,-0.0024,0.0076,-0.0137,0.0000,-0.1265,Energy,40.588068,1
2,INTC,7.084800e+10,0.1289,2.711100e+10,4.373700e+10,1.354300e+10,6.750000e+09,2.042100e+10,2.331600e+10,-1.260000e+08,...,0.1989,0.0387,0.0382,0.1014,-0.0169,0.0390,-0.0942,Technology,30.295514,1
3,MU,3.039100e+10,0.4955,1.250000e+10,1.789100e+10,2.141000e+09,8.130000e+08,2.897000e+09,1.499400e+10,3.420000e+08,...,0.4573,0.1511,0.2275,0.6395,-0.5841,0.1738,0.0942,Technology,64.213737,1
4,GE,1.216150e+11,0.0285,9.546100e+10,2.615400e+10,0.000000e+00,1.811100e+10,4.071100e+10,-1.455700e+10,5.059000e+09,...,-0.2781,-0.2892,-0.1575,-0.4487,-0.2297,0.0000,0.0308,Industrials,44.757840,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,YRIV,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,0.000000e+00,3.755251e+06,3.755251e+06,-3.755251e+06,1.105849e+07,...,0.0000,0.0000,-0.0508,-0.1409,-0.0152,0.0000,-0.2602,Real Estate,-90.962099,0
4388,YTEN,5.560000e+05,-0.4110,0.000000e+00,5.560000e+05,4.759000e+06,5.071000e+06,9.830000e+06,-9.274000e+06,0.000000e+00,...,0.3445,0.0000,-0.2323,-0.8602,0.0000,0.0352,-0.0993,Basic Materials,-77.922077,0
4389,ZKIN,5.488438e+07,0.2210,3.659379e+07,1.829059e+07,1.652633e+06,7.020320e+06,8.672953e+06,9.617636e+06,1.239170e+06,...,0.1605,0.7706,0.2489,0.4074,-0.0968,0.2415,0.8987,Basic Materials,-17.834400,0
4390,ZOM,0.000000e+00,0.0000,0.000000e+00,0.000000e+00,1.031715e+07,4.521349e+06,1.664863e+07,-1.664863e+07,0.000000e+00,...,0.8980,0.0000,0.1568,-0.2200,0.0000,2.7499,0.1457,Industrials,-73.520000,0
4391,ZYME,5.301900e+07,0.0243,0.000000e+00,5.301900e+07,5.668400e+07,2.945700e+07,8.614600e+07,-3.312700e+07,1.660000e+05,...,-0.4185,0.0000,0.8519,0.1325,0.0000,0.3577,0.5880,Healthcare,209.462222,1

(4392, 225)

In [29]:
for col in df.columns:
    s = str(col).lower()
    if 'growth' in s:
        #print(df[col].describe())
        print(col)

Revenue Growth
priceEarningsToGrowthRatio
Gross Profit Growth
EBIT Growth
Operating Income Growth
Net Income Growth
EPS Growth
EPS Diluted Growth
Weighted Average Shares Growth
Weighted Average Shares Diluted Growth
Dividends per Share Growth
Operating Cash Flow growth
Free Cash Flow growth
10Y Revenue Growth (per Share)
5Y Revenue Growth (per Share)
3Y Revenue Growth (per Share)
10Y Operating CF Growth (per Share)
5Y Operating CF Growth (per Share)
3Y Operating CF Growth (per Share)
10Y Net Income Growth (per Share)
5Y Net Income Growth (per Share)
3Y Net Income Growth (per Share)
10Y Shareholders Equity Growth (per Share)
5Y Shareholders Equity Growth (per Share)
3Y Shareholders Equity Growth (per Share)
10Y Dividend per Share Growth (per Share)
5Y Dividend per Share Growth (per Share)
3Y Dividend per Share Growth (per Share)
Receivables growth
Inventory Growth
Asset Growth
Book Value per Share Growth
Debt Growth
R&D Expense Growth
SG&A Expenses Growth

In [48]:
indicators = ['Dividends per Share Growth', 
              '3Y Revenue Growth (per Share)', 
              'EPS Growth', 
              'Net Income Growth',
              'priceEarningsToGrowthRatio',
              '3Y Operating CF Growth (per Share)',
              '3Y Net Income Growth (per Share)',
              '3Y Shareholders Equity Growth (per Share)',
              '3Y Dividend per Share Growth (per Share)',
              'Book Value per Share',
              'Debt Growth',
              'Class']
for c in indicators:
    print(df[c].describe())
    print('NaN :',df[c].isna().sum())

count    4129.000000
mean        0.136031
std         2.323152
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.047600
max       130.025000
Name: Dividends per Share Growth, dtype: float64
NaN : 263
count    3960.000000
mean        0.049008
std         0.445685
min        -1.000000
25%        -0.018125
50%         0.040000
75%         0.107425
max        13.336800
Name: 3Y Revenue Growth (per Share), dtype: float64
NaN : 432
count    4261.000000
mean        0.551279
std        13.157888
min      -332.000000
25%        -0.324800
50%         0.185700
75%         0.693300
max       395.791700
Name: EPS Growth, dtype: float64
NaN : 131
count    4162.000000
mean        1.424041
std        62.949132
min     -2036.750000
25%        -0.379725
50%         0.148250
75%         0.684250
max      3159.000000
Name: Net Income Growth, dtype: float64
NaN : 230
count    2734.000000
mean       47.514074
std       272.896415
min         0.000000
25%        10.439278
50%        16.295242
75%        28.253637
max      9704.250000
Name: priceEarningsToGrowthRatio, dtype: float64
NaN : 1658
count    3961.000000
mean        0.072548
std         0.315449
min        -0.914600
25%         0.000000
50%         0.000000
75%         0.129600
max         5.180700
Name: 3Y Operating CF Growth (per Share), dtype: float64
NaN : 431
count    3960.000000
mean        0.083797
std         0.412044
min        -0.867600
25%         0.000000
50%         0.000000
75%         0.135650
max        13.143100
Name: 3Y Net Income Growth (per Share), dtype: float64
NaN : 432
count    3960.000000
mean        0.041146
std         0.451656
min        -0.981000
25%        -0.039400
50%         0.025000
75%         0.101025
max        18.315600
Name: 3Y Shareholders Equity Growth (per Share), dtype: float64
NaN : 432
count    4067.000000
mean        0.006081
std         0.239653
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.042050
max         4.079100
Name: 3Y Dividend per Share Growth (per Share), dtype: float64
NaN : 325
count      4140.000000
mean        -70.206259
std        5648.293390
min     -363376.472000
25%           3.217750
50%           9.939000
75%          20.550250
max        3397.105000
Name: Book Value per Share, dtype: float64
NaN : 252
count     4128.000000
mean         9.928446
std        363.717734
min         -1.000000
25%         -0.082850
50%          0.000000
75%          0.115425
max      17646.823500
Name: Debt Growth, dtype: float64
NaN : 264
count    4392.000000
mean        0.693534
std         0.461078
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Class, dtype: float64
NaN : 0

In [57]:
for col in df.columns:
    s = str(col).lower()
    if 'eps' in s:
        print(col)

EPS
EPS Diluted
EPS Growth
EPS Diluted Growth

In [54]:
df['priceEarningsRatio'].isna().sum()

252

In [58]:
df['EPS Growth'].isna().sum()

131

In [ ]:
# use these two to replace existing PEG values

In [62]:
display(df2)
df2.shape

,Date,Open,High,Low,Close,Volume,OpenInt
0,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0
1,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,0
2,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0
3,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,0
4,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,0
...,...,...,...,...,...,...,...
8359,2017-11-06,171.75000,174.36000,171.10000,173.63000,34901241,0
8360,2017-11-07,173.29000,174.51000,173.29000,174.18000,24424877,0
8361,2017-11-08,174.03000,175.61000,173.71000,175.61000,24451166,0
8362,2017-11-09,174.48000,175.46000,172.52000,175.25000,29533086,0
8363,2017-11-10,175.11000,175.38000,174.27000,174.67000,25130494,0

(8364, 7)

In [64]:
df2.describe()

,Open,High,Low,Close,Volume,OpenInt
count,8364.000000,8364.000000,8364.000000,8364.000000,8.364000e+03,8364.0
mean,22.284350,22.495867,22.054244,22.281018,1.066416e+08,0.0
std,37.763402,38.057733,37.447432,37.764469,9.935187e+07,0.0
min,0.233050,0.235640,0.230510,0.230510,0.000000e+00,0.0
25%,1.137100,1.164200,1.112800,1.137100,4.384365e+07,0.0
50%,1.632800,1.663400,1.600600,1.628250,7.481383e+07,0.0
75%,23.739000,23.930500,23.335750,23.694500,1.320534e+08,0.0
max,175.110000,175.610000,174.270000,175.610000,2.069770e+09,0.0

In [ ]:
# date open high low close -> predict closing price for next day